@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
    color: #eee;
}

.divider-or{
    color: #ECECEC;
}

.box-area{
    width: 930px;
}

.right-box{
    padding: 40px 30px 40px 40px;
}

.btn-fortytwo{
    background: #00BABC;
    color: #fff;
}

.btn-fortytwo:hover{
    background: #00a5a5;
    color: #fff;
}

::placeholder{
    font-size: 16px;
}
.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}

@media only screen and (max-width: 768px){
     .box-area{
        margin: 0 10px;
     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }
}


#BtnRegisterInLogin, #BtnRegisterInLogin:visited, #btn-login-from-signup, #btn-login-from-signup:visited {
    text-decoration: underline;
    color: #0A58CA;
    cursor: pointer;
}